<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Manager Organizer</title>
    
</head>
<body>
    <div class="">
      <h4>current_manager: <%= current_manager ? current_manager.name : "no one logged in" %></h4>
    </div>
<nav>
    <ul>
    <% if logged_in? %>
        <li><form action="/projects" method="get">
            <input type="submit" value="Home">
        </form></li>
        
        <li><form class="" action="/logout" method="post">
            <input type="submit" name="" value="Log Out">
        </form></li>

        <li>
            <a href="/managers/<%= current_manager.id %>/edit">Update Account</a>
            
        </li>

        <li><form action="/manager" method="post">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="Remove Account">
        </form></li>

    <% else %>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Sign up</a></li>
    <% end %>
</nav>
    
    <%= yield %>
</body>
</html>